*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-image: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fe8d03;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}
.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box h1{
    font-size: 50px;
}
.text-box h2{
    font-size: 30px;
}
.text-box p{
    margin: none;
    font-size: 14px;
    color: #fff;
}
.text-box a{
    margin: 2%;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #fe8d03;
    background: #fe8d03;
    transition: 1s;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
}
.subjects h1{
    text-align: center;
    font-size: 50px;
}
.subject-col{
    flex-basis: 31%;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h2{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.subject-col img{
    width:500px
}
.subject-col h2{
    text-align: right;
    position: relative;
    font-size: 50px;
}
.subject-col p{
    text-align: right;
    font-size: 20px;
}
.highschool p{
    margin: none;
    font-size: 20px;
    text-align: center;
}
.highschool{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    text-align: center;
}
.highschool-col{
    flex-basis: 32%;
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}
.highschool-col img{
    width: 100%;
}
.highschool h1{
    font-size: 50px;
}
.highschool p{
    font-size: 20px;
}
.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.25s;
}
.layer:hover{
    background: rgba(23, 43, 123, 0.7);
    opacity: 1;
}
.layer > * {
    transform: translateY(20px);
    transition: transform 0.25s;
}
.facilities{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.facilities-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}
.facilities-col img{
    width: 100%;
    border-radius: 10px;
}
.facilities h1{
    font-size: 50px;
}
.facilities p{
    font-size: 20px;
}
.facilities-col p{
    padding: 0;
}
.facilities-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.dorms-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
}
.dorms-col img{
    width: 100%;
    border-radius: 10px;
}
.dorms-col h3{
    margin-top: 16px;
    margin-bottom: 15px;
    text-align: center;
}
.dorms-col p{
    padding: 0;
}
.contact{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/backspace.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.contact h1{
    color: #fff;
    font-size: 30px;
    margin-bottom: 40px;
    padding: 0;
}
.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
    font-size: 40px;
}
.footer p{
    font-size: 20px;
}
.icons{
    color: rgb(15, 14, 15);
    transition: color 0.5s;
    cursor: pointer;

}
.icons:hover{
    color: #b91010;

}
.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/graduate.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.about-col img{
    width: 50%;
    border-radius: 10px;
}
.about-col{
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: center;
}
.about-us{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
.headers{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/blog.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.headers h1{
    font-size: 30px;
}
.headerv{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/blog.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.headerv h1{
    font-size: 30px;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-btn{
    display: inline-block;
    text-decoration: none;
    color: rgb(21, 13, 13);
    border: 1px solid rgb(21, 13, 13) ;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.comment-btn:hover{
    border: 1px solid #fe8d03;
    background: #fe8d03;
    transition: 1s;
}
.comment-form input, .comment-form textarea{
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-form button{
    margin: 10px 0;
}
.headerl{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/blog.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.headerl h1{
    font-size: 30px;
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div .fa{
    font-size: 28px;
    color: #fe8d03;
    margin: 10px;
    margin-right: 30px;
}
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;

}